html{
  height: 100%;
}
.App {
  text-align: center;
  background-color: #111;
  position:relative;
  min-height: 100vh;
}
body a:hover{
  text-decoration: none;
}
body{
  background: #222222;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-bottom: 100px;
  padding: 0;
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #111;
  height: 60px;
  color: white;
}
.App-header ul{
  width:100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-content: center;
}

header{
  display: block;
  margin-bottom: 0em;
}
header i {
  min-width:1em;
  margin-right: 0.5em;
}
header a{
  vertical-align: center;
  justify-content: left;
  align-items: center;
  display: flex;
}

.main{
  display: block;
}

.MovieGrid{
  display: grid;
  grid-template-columns: repeat(10,2fr);
  grid-row-gap: 1rem;
}
.Poster{
  box-shadow: 0 0 35px #222222;
  min-width: 50%;
  margin:0;
  padding:0;
  top:-50px;
}
.paging-buttons{
  position:relative;
  display: flex;
  justify-content: center;
}
.pagePlus{
  position: absolute;
  right:30%
}
.pageMinus{
  position: absolute;
  left:30%;
}
.Details{
  position: relative;
  color:black;
  min-height: 100vh;
  background-color: #111;
  margin: 0;
  padding: 0;
}
.Details h1{
  padding-top: 1em;
}
.Movie img{
  min-height:20%;
}
.Movie{
  margin-top: 5em;
}

.posterHeader{
  min-width: 100%;
  min-height: 50em;
}
.moviePoster{
  min-height:100%;
  min-width:30%;
  display: flex;
  flex-direction: column;
}
.moviePart{
  display: flex;
  background-color: whitesmoke;

}
.movieInfo{
  text-align: left;

}
.movieInfo h2{
  text-align: center;
}
.text{
  margin: 1rem;
}
.searchInput{
  border:none;
  border-radius: 2%;
}
.button{
  background-color: #222222;
  border:none;
  color:antiquewhite;
  margin:0;
  padding: 0;
  min-width: 10%;
  min-height: 150%;
}
.favourites{
  display: flex;
  justify-content: center;
  align-content: center;
}
.favourites .Movie{
  margin:1em auto;
}
.comment-area{
  height: 90%;
  border-radius: 10px;
  background-color: #adb5bd;
  opacity: 0.9;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.dangerInput{
  border:1px solid red;
}
.dangerText{
  color:red
}
.dangerInput:focus{
  outline:red
}
button{

  font-size: 16px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 3px rgba(0,0,0,0.1);
  border-radius: 1px;
  border: 1px solid #55555530;
  color: #333;
  text-align: center;
  transition: 0.2s ease;
}
button:hover{
  background-color: #2f3640;
  color:white
}
.subText{
  font-size: 12px;
  font-weight:700;
  color: #333;
  font-family: "Montserrat SemiBold";
}

iframe{
  margin:0 auto;
  align-self: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top:50%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1560px) {
  .MovieGrid{
    display: grid;
    grid-template-columns: repeat(8,2fr);
    grid-row-gap: 1rem;
    width: 100%;
  }
}
@media only screen and (max-width: 1245px) {
  .MovieGrid{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-row-gap: 1rem;
    width: 100%;
  }

  .text{
    font-size: 14px;
  }

  iframe{
    width:100%;
  }
  header h1{
    font-size: 2rem;
  }
  .App-header ul li{

    padding-top: 10px;
  }
  .moviePoster button{
    min-height:50px;
  }

}
@media only screen and (max-width: 660px) {
  .MovieGrid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 100%;
  }
  .movieInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .moviePart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .Poster{
    margin:0 auto;
    max-width: 50%;
  }
  h1{
    font-size: 2rem;
  }
  header h1{
    font-size: 1rem;
  }
  .App-header ul li{

    padding-top: 15px;
  }
  .recommendations{
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .recommendations .Movie{
    width:24%;
  }
  .recommendations .Movie img{
    max-width: 95%;
  }
}
.slicknav_menu {
  display:none;
}

@media screen and (max-width: 500px) {
  .MovieGrid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .App-header{
    height:0
  }
  h1{
    font-size: 1.5rem;
  }
  .Movie img{
    min-width:90%;
  }
  .Movie h6{
    font-size: 1rem;
  }
  #menu {
    display:none;
  }

  .slicknav_menu {
    display:block;
  }
  .slicknav_btn{
    margin:0 auto;
    align-self: center;
    float:none;
    height:30px;
    display: flex;
    justify-content: center;
  }
  .slicknav_menu a{
    color:#00bc8c;
    text-shadow: 1px 1px 2px black;
  }
  .slicknav_menu li{

    border-radius: 10px;
  }
  .slicknav_menu span{

  }

}
